<div id="addResourceModal">
<i class="fas fa-times"></i>
<form action="/resources/add" method="POST">
    <h2>Add a WeSource!</h2>
    <p>
    <label for="url"><span>Url:</span></label>
    <input type="url" name="resourceUrl" id="url" placeholder="https://example.com" pattern="https://.*" size="20">
    </p>
    <p>
    <label for="title"><span>Title:</span></label>
    <input type="text" id="title" name="resourceTitle" required>
    </p>
    <p>
    <label for="description"><span>Description:</span></label>
    <textarea type="text" id="description" name="resourceDescription" required></textarea>
    </p>
    <p>
    <label for="category">
    <span>Categrory:</span>
    </label>
    <select id="category" name="resourceCategory">
    <option value="1">accessibility</option>
    <option value="2">animation</option>
    <option value="3">css</option>
    <option value="4">html</option>
    <option value="5">inspiration</option>
    <option value="6">javascript</option>
    <option value="7">plugins</option>
    <option value="8">ui</option>
    <option value="9">web</option>
    </select>
    </p>
    <button id="addResource" type="submit">ADD</button>
</form>
</div>
