
<section id="lab_social_icon_footer">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</section>
<footer>
    <div class="container">
        <div class="footer-box">
            <p>Copyright &copy; 2018 WeSource</p>
        </div>
        <div class="footer-box">
            <a href='https://www.facebook.com/' class="fa fa-facebook"></a>
            <a href='https://www.twitter.com'class="fa fa-twitter"></a>
            <a href='https://www.instagram.com'class="fa fa-instagram"></a>
            <a href='https://www.behance.com'class="fa fa-behance"></a>
            <a href='https://www.github.com'class="fa fa-github"></a>
        </div>
    </div>
</footer>