
<header class="header">
  <a class="logo" href="/">WeSource</a>
  <div class="header__right">
    <% if(!user){ %>
      <!-- <a id="addLoggedOut" class="addResource" href="#">ADD WESOURCE</a> -->
      <form action="/backdoor" method="POST">
        <p>
          <label for="email"> LOGIN: </label>
          <input id="email" type="text" name="email" placeholder="Enter Email">
        </p>
        <p>
          <label for="email"> PASSWORD: </label>
          <input id="password" type="text" name="password" placeholder="Enter Password">
        </p>
        <button class="login" type="submit">LOGIN</button>
      </form>
      <a id="registerUser" class="register" href="#">REGISTER</a>
    <% } else if (user){ %>
      <!-- logout -->
      <!-- <a id="add" class="addResource" href="#">ADD WESOURCE</a> -->
      <a href="/api/users/:id">DASHBOARD</a>
      <a href="/api/users/:id/profile">PROFILE</a>
      <form action="/logout" method="POST">
        <button class="logout" type="submit">LOGOUT</button>
      </form>
    <% } %>
  </div>
</header>

<div class="newWeSource">
  <% if(!user){ %>
    <a id="addLoggedOut" class="addResource" href="#">ADD WESOURCE</a>
  <% } else if (user){ %>
    <a id="add" class="addResource" href="#">ADD WESOURCE</a>
  <% } %>

</div>





<!-- <% if(user){ %>
  <p style="display: inline-block; margin: 0 10px 0 0;">You are logged in as: <strong><%= user.email %></strong></p>
  <form style="display: inline-block; margin: 10px 0 10px;" method="POST" action="/logout">
      <button type="submit">Logout</button>
  </form>
<% } else { %>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
<% } %> -->
