
<header class="header">
  <a class="logo" href="/">WeSource</a>
  <div class="header__right">
    <!-- Login -->
    <form action="/backdoor" method="POST">
      <label for="email"> LOGIN: </label>
      <input id="email" type="text" name="email" placeholder="Enter Email">
      <input id="password" type="text" name="password" placeholder="Enter Password">
      <button type="submit">LOGIN</button>
    </form>
    <a id="add" class="addResource" href="#">ADD WESOURCE</a>
    <a id="registerUser" class="registerUser" href="#">REGISTER</a>
  </div>
</header>
