      <div class="searchContainer">
        <form action="/homepage/search" METHOD="GET">
          <input type="text" placeholder="Search..." name="search" id="searchKeyword">
          <button type="submit" id="searchButton">SEARCH</button>
        </form>
      </div>
      <div class="searchAlert"><p>* Please include something to search and try again *</p></div>
