      <div class="searchContainer">
        <form action="/api/homepage/search" METHOD="GET">
          <input type="text" placeholder="Search..." name="search" id="searchKeyword">
          <button type="submit" id="searchButton">SEARCH</button>
        </form>
      </div>