      <div class="searchContainer">
        <form action="/api/homepage/search" METHOD="GET">
          <input type="text" placeholder="Search the WeSource database..." name="search" id="searchKeyword">
          <button type="submit" id="searchButton">Search</button>
        </form>
      </div>