<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
        <style>
           .left {
               width: 70%;
               border: 2px dashed red;
               float: left;
               margin-left: 5%; 
               display: flex;
               flex-direction: column;
               flex-wrap: wrap;
               justify-content: space-evenly;
               
           }
           .right {
               width: 15%;
               border: 2px dashed sandybrown;
               float: right;
               margin-right: 5%; 
               display: flex;
               flex-direction: column;
               text-align: center;
           }

            
        </style>
</head>
<body>
    <div class='left'>
       <div class='left_container'> 
        <div class='main_image'>
            <img src="http://www.quickmeme.com/img/da/da5e0673d23ddcb208a688dae038e3d8c8a5c2d71f177eae25074f430400a40e.jpg" alt='Cat meme'>
        </div>
        <div class='comment_box'>
            <form>
            <textarea name="comment" id="" cols="50" rows="5"></textarea>
            <button>Submit</button>
            </form>
        </div>
        <div class='comment_feed'>
            <p>Feed</p>
        </div>
        </div>

    </div>

    <div class='right'>
            <a id="like_button" href="#" style='font-size: 3em; margin-bottom: 1em; margin-top: 1em; text-decoration: none'> Like</a>
            <a id='share_button'href='#'style='font-size: 3em; margin-bottom: 1em; margin-top: 1em; text-decoration: none'>Share</a>
            <a id='go_button'href='#'style='font-size: 3em; margin-bottom: 1em; margin-top: 1em; text-decoration: none'>Go</a>
    </div>

    </body>
</html>