<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/app.css" type="text/css" />
    <link rel="stylesheet" href="/styles/theme.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-app.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    
  </head>

  <body>

      <!-- <header class="header">
        <a href="#">WeSource</a>
        <div class="header__right">

          Login
          <form action="/backdoor" method="POST">
            <label for="email"> Sign In</label>
            <input id="email" type="text" name="email" placeholder="Enter Email">
            <button type="submit">Login</button>
          </form>
          <a id="add" class="add" href="#">ADD</a>
        </div>
      </header> -->

      <% include ./partials/_header %> 

      <!-- Search Bar -->
      <% include ./partials/_search %> 

    <h1></h1>

    <section class="mt-4 mb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="card-columns">
            
            </div> <!-- end card-columns -->
          </div><!-- end row -->
        </div><!-- end container-fluid -->
      </section>

      <div id="addResourceModal">
        <form action="/api/resources/add" method="POST">
          <h2>Add a new WeSource</h2>
          <p>
            <label for="url"><span>Url:</span></label>
            <input type="text" id="url" name="resourceUrl">
          </p>
          <p>
            <label for="title"><span>Title:</span></label>
            <input type="text" id="title" name="resourceTitle">
          </p>
          <p>
            <label for="description"><span>Desctiption:</span></label>
            <input type="text" id="description" name="resourceDescription">
          </p>
          <p>
            <label for="category">
              <span>Categrory:</span>
            </label>
            <select id="category" name="resourceCategory">
              <option value="1">Accessibility</option>
              <option value="2">Animation</option>
              <option value="3">CSS</option>
              <option value="4">HTML</option>
              <option value="5">Inspiration</option>
              <option value="6">Javascript</option>
              <option value="7">Plugins</option>
              <option value="8">UI</option>
              <option value="9">Web Design</option>
            </select>
          </p>
          <button id="addResource" type="submit">ADD</button>
        </form>
      </div>

      <div id="overlay">overlay</div>
  </body>
</html>
