<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_head %>
  <body>
      <% include ./partials/_header %>
      <% include ./partials/_search %>
<div class="login_msg">You have logged in</div>
<div class="register_msg">You have successfully registered</div>
    <section class="mt-4 mb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="card-columns">

          </div> <!-- end card-columns -->
        </div><!-- end row -->
      </div><!-- end container-fluid -->
    </section>

    <% include ./partials/_addResource %>

    <div id="registerModal">
      <i class="fas fa-times"></i>
      <form action="/backdoor" method="POST">
        <h2>REGISTER</h2>
        <p>
          <label for="username"><span>Username:</span></label>
          <input type="text" id="username" name="registerName">
        </p>
        <p>
          <label for="useremail"><span>Email:</span></label>
          <input type="email" id="useremail" name="registerEmail">
        </p>
        <p>
          <label for="password"><span>Password:</span></label>
          <input type="password" id="password" name="registerPassword">
        </p>
        <button id="register" type="submit">REGISTER</button>
      </form>
    </div>

    <div id="loginModal">
        <i class="fas fa-times"></i>
        <form action="/api/users/register" method="POST">
          <h2>Login</h2>
          <p>Please login to post a new WeSource.</p>
          <p>
            <label for="useremail"><span>Email:</span></label>
            <input type="email" id="useremail" name="registerEmail">
          </p>
          <p>
            <label for="password"><span>Password:</span></label>
            <input type="password" id="password" name="registerPassword">
          </p>
          <button id="login" type="submit">LOGIN</button>
        </form>
    </div>
    
    <div id="overlay"></div>
    <% include ./partials/_addResource %>
    <% include ./partials/_footer %>
  </body>
</html>
