<!DOCTYPE html>
<html>
<% include ./partials/_head %> 
<body class="profile">
    <% include ./partials/_header %>
    <h1>My Dashboard</h1>
    <div class='left'>
        <div class='forums_container'>
        <label>Username</label>
        <input type="text" value="" class="input-xlarge">
        <label>First Name</label>
        <input type="text" value="" class="input-xlarge">
        <label>Last Name</label>
        <input type="text" value="" class="input-xlarge">
        <label>Email</label>
        <input type="text" value="" class="input-xlarge">
        <label>Desrciption</label>
        <input type="text" value='' class="input-xlarge">
      </div>
    </div>
    <div class='right'>
        <button id="edit">Edit</button>
    </div>
    <div id="overlay"></div>
    <% include ./partials/_addResource %>
    <% include ./partials/_footer %>
    </body>
</html>
