<!DOCTYPE html>
<html>
<% include ./partials/_head %>
<body>
  <section class="profile">
    <% include ./partials/_header %>
    <h1>My Profile</h1>
    <button id="edit_profile" class="editProfile">Edit My Profile</button><br><br>
    <img src="<%=user.avatar%>" class="avatar" alt="myavatar">
    <h3>Name</h3>
    <%=user.name%>
    <h3>Email</h3>
    <%=user.email%>
    <h3>About Me</h3>
    <%=user.aboutme%>
  </section>


  <div id="profileModal">
    <i class="fas fa-times"></i>
    <form action="/api/users/:id/profile" method="POST">
      <h2>EDIT PROFILE</h2>
      <p>
        <label for="name">Name:</label>
        <input type="text" id="username" name="username">
      </p>
      <p>
        <label for="aboutme">About Me:</label>
        <textarea type="text" id="useraboutme" name="useraboutme"></textarea>
      </p>
      <p>
        <label for="email">Email:</label>
        <input type="email" id="useremail" name="useremail">
      </p>
      <p>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
      </p>
      <button id="edit" type="submit">EDIT</button>
    </form>
  </div>

    <div id="overlay"></div>

    <% include ./partials/_addResource %>
    <% include ./partials/_footer %>
    </body>
</html>
