<!DOCTYPE html>
<html>
<% include ./partials/_head %>
<body>
  <section class="profile">
    <% include ./partials/_header %>
    <h1>My Profile</h1>
    <button id="edit">Edit My Profile</button><br><br>
    <img src="<%=user.avatar%>" class="avatar" alt="myavatar">
    <h3>Name</h3>
    <%=user.name%>
    <h3>Email</h3>
    <%=user.email%>
    <h3>About Me</h3>
    <%=user.aboutme%>
  </section>


    <% include ./partials/_addResource %>
    <div id="overlay">overlay</div>
    </body>
</html>
