<!DOCTYPE html>
<html>
<% include ./partials/_head %> 
<body>
    <% include ./partials/_header %>
    <div class='left'>
      <h1 style='font-family: fantasy; padding-left: 1em;'>My Profile</h1>
        <div class='forums_container'>
        <label>Username</label>
        <input type="text" value="" class="input-xlarge">
        <label>First Name</label>
        <input type="text" value="" class="input-xlarge">
        <label>Last Name</label>
        <input type="text" value="" class="input-xlarge">
        <label>Email</label>
        <input type="text" value="" class="input-xlarge">
        <label>Desrciption</label>
        <input type="text" value='' class="input-xlarge">
      </div>
    </div>
    <div class='right'>
        <button id="edit">Edit</button>
    </div>
    </body>
</html>
