body {
  background-color: #EEE;
  padding-top: 50px;
}

body h1 {
  color: #244751;
}

body .header {
  position: relative;
  width: calc(100% - 5%);
  padding: 10px 20px;
  border: 1px solid #244751;
  border-radius: 5px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  body .header {
    text-align: center;
  }
}

body .header__right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1024px) {
  body .header__right {
    position: relative;
    text-align: center;
    width: 100%;
    right: auto;
    margin-top: 90px;
  }
}

@media only screen and (max-width: 1024px) {
  body .header__right.user {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  body .header__right.user form {
    width: auto;
  }
}

@media only screen and (max-width: 1024px) {
  body .header__right.noUser {
    margin-bottom: -30px;
  }
}

body .header__right a {
  margin-right: 20px;
}

body .header__right a:hover {
  text-decoration: underline;
  cursor: pointer;
}

body .header__right a.register {
  border: 0;
  background: #777;
  color: #fff;
  padding: 8px 10px;
  border: 1px solid #777;
  margin-left: -4px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 0;
}

@media only screen and (max-width: 1024px) {
  body .header__right a.register {
    display: none;
  }
}

body .header__right a.register:hover {
  border: 1px solid #244751;
  background: #fff;
  outline: none;
  color: #244751;
  text-decoration: none;
}

body .header__right form {
  display: inline-block;
}

@media only screen and (max-width: 1024px) {
  body .header__right form {
    width: 300px;
  }
}

body .header__right form p {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 10px;
}

@media only screen and (max-width: 1024px) {
  body .header__right form p {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    margin-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  body .header__right form p label {
    float: left;
  }
}

@media only screen and (max-width: 1024px) {
  body .header__right form p input {
    float: right;
  }
}

body .header__right form input {
  border: 1px solid #fff;
  padding: 5px 10px;
  margin-left: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

body .header__right form input:hover, body .header__right form input:focus {
  border: 1px solid #999;
  outline: none;
}

body .header__right form button {
  border: 0;
  background: #777;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #777;
  margin-left: -4px;
}

body .header__right form button:hover {
  border: 1px solid #244751;
  background: #fff;
  outline: none;
  color: #244751;
}

body .header__right form button.login {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media only screen and (max-width: 1024px) {
  body .header__right form button.login {
    border-radius: 5px;
    width: 100%;
  }
}

body .header__right form button.logout {
  border-radius: 5px;
}

body .header a {
  color: #244751;
  text-decoration: none;
}

body .header .logo {
  font-weight: 500;
  font-size: 30px;
  border-bottom: 2px solid transparent;
}

@media only screen and (max-width: 1024px) {
  body .header .logo {
    width: auto;
    display: inline-block;
    margin: 0 auto;
    font-size: 50px;
    line-height: 50px;
  }
}

body .header .logo:hover {
  border-bottom: 2px solid #244751;
}

body .searchContainer {
  width: 50%;
  margin: 40px auto;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  body .searchContainer {
    width: 80%;
  }
}

body .searchContainer form {
  width: 100%;
}

body .searchContainer form input {
  width: 80%;
  padding: 10px 20px;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  border: 1px solid #fff;
}

@media only screen and (max-width: 1024px) {
  body .searchContainer form input {
    width: 70%;
  }
}

body .searchContainer form input:focus {
  border: 1px solid #999;
  outline: 0;
}

body .searchContainer form button {
  width: 20%;
  float: right;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #777;
  background-color: #777;
  color: #fff;
  font-style: normal;
  font-style: normal;
}

@media only screen and (max-width: 1024px) {
  body .searchContainer form button {
    width: 30%;
  }
}

body .searchContainer form button:hover {
  border: 1px solid #244751;
  background-color: #fff;
  color: #244751;
}

body .searchContainer form button:focus {
  outline: 0;
  border: 1px solid #244751;
}

@media only screen and (max-width: 1024px) {
  .addResource {
    width: 80%;
    display: inline-block;
  }
}

.addResource .logo {
  font-weight: 500;
}

.newWeSource {
  text-align: center;
  margin-top: 40px;
}

.newWeSource a {
  background-color: #69b269;
  padding: 15px 30px;
  color: #244751;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid #69b269;
}

.newWeSource a:hover {
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #244751;
}

.card-columns {
  overflow: hidden;
}

.card-columns a {
  display: inline-block;
}

.card {
  color: #244751;
  border-radius: 5px;
}

.card__img {
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card__title {
  width: 80%;
  margin: 0 auto 15px;
  font-weight: 700;
}

.card__description {
  width: 80%;
  margin: 0 auto 15px;
}

.card__cat {
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  padding: 2px 0 4px;
  color: #111;
}

.card__cat.accessibility {
  background-color: #fed345;
}

.card__cat.animation {
  background-color: #e64600;
  color: #fff;
}

.card__cat.css {
  background-color: #c50000;
  color: #fff;
}

.card__cat.html {
  background-color: #501ab7;
  color: #fff;
}

.card__cat.inspiration {
  background-color: #e64c7f;
  color: #fff;
}

.card__cat.javascript {
  background-color: #3b34bf;
  color: #fff;
}

.card__cat.plugins {
  background-color: #657efb;
}

.card__cat.ui {
  background-color: #208934;
}

.card__cat.web {
  background-color: #435c00;
  color: #fff;
}

.login_msg {
  display: none;
}

.register_msg {
  display: none;
}

#addResourceModal {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: #EEE;
  left: 50%;
  top: 50%;
  padding: 20px;
  z-index: 3;
  border-radius: 5px;
}

#addResourceModal h2 {
  margin-bottom: 20px;
}

#addResourceModal p {
  overflow: hidden;
}

#addResourceModal input, #addResourceModal textarea {
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-left: 20px;
}

#addResourceModal input:focus, #addResourceModal textarea:focus {
  outline: 0;
  border: 1px solid #777;
}

#addResourceModal input, #addResourceModal textarea, #addResourceModal select {
  float: right;
  width: 180px;
}

#addResourceModal #addResource {
  width: 180px;
  display: block;
  margin: 0 auto;
  border: 0;
  border: 1px solid #777;
  background: #777;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

#addResourceModal #addResource:hover {
  border: 1px solid #244751;
  background-color: #fff;
  color: #244751;
}

#registerModal {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: #EEE;
  left: 50%;
  top: 50%;
  padding: 20px;
  z-index: 3;
  border-radius: 5px;
}

#registerModal h2 {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

#registerModal input {
  margin-left: 20px;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

#registerModal input:focus {
  outline: 0;
  border: 1px solid #777;
}

#registerModal input, #registerModal select {
  float: right;
  width: 180px;
}

#registerModal #register {
  width: 180px;
  display: block;
  margin: 30px auto 0;
  border: 0;
  border: 1px solid #777;
  background: #777;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

#registerModal #register:hover {
  border: 1px solid #244751;
  background-color: #fff;
  color: #244751;
}

#loginModal {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: #EEE;
  left: 50%;
  top: 50%;
  padding: 20px;
  z-index: 3;
  border-radius: 5px;
}

#loginModal h2 {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

#loginModal input {
  margin-left: 20px;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

#loginModal input:focus {
  outline: 0;
  border: 1px solid #777;
}

#loginModal input {
  float: right;
  width: 180px;
}

#loginModal #login {
  width: 180px;
  display: block;
  margin: 30px auto 0;
  border: 0;
  border: 1px solid #777;
  background: #777;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

#loginModal #login:hover {
  border: 1px solid #244751;
  background-color: #fff;
  color: #244751;
}

.fa-times {
  float: right;
  cursor: pointer;
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.fixed {
  overflow: hidden;
}

.res_description .left {
  width: 55%;
  border: 1px solid #244751;
  border-radius: 5px;
  float: left;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.res_description .right {
  width: 15%;
  border: 1px solid #244751;
  border-radius: 5px;
  float: right;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
