
$brandColor: #244751;

body {
  background-color: #EEE;
  padding-top: 50px;

  h1 {
    color: $brandColor;
  }

  .header {
    position: relative;
    width: calc(100% - 5%);
    padding: 10px 20px;
    border: 1px solid $brandColor;
    border-radius: 5px;
    margin: 0 auto;

    &__right {
      position: absolute;
      right: 20PX;
      top: 50%;
      transform: translateY(-50%);

      a {
        margin-left: 20px;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .registerUser {
        
      }

      .addResource {
        display: none;
      }

      form {
        display: inline-block;

        input {
          border: 1px solid #fff;
          padding: 5px 10px;
          margin-left: 5px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;

          &:hover,
          &:focus {
            border: 1px solid #999;
            outline: none;
          }
        }

        button {
          border: 0;
          background: #777;
          color: #fff;
          padding: 5px 10px;
          border: 1px solid #777;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          margin-left: -4px;

          &:hover {
            border: 1px solid $brandColor;
            background: #fff;
            outline: none;
            color: $brandColor;
          }
        }
      }
    }

    a {
      color: $brandColor;
      text-decoration: none;
    }

    .logo {
      font-weight: 500;
      font-size: 30px;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 2px solid $brandColor;
      }
    }
  }
  
  .searchContainer {
    width: 50%;
    margin: 40px auto;
    display: flex;

    form {
      width: 100%;

      input {
        width: 80%;
        padding: 10px 20px;
        float: left;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 0;
        border: 1px solid #fff;

        &:focus {
          border: 1px solid #999;
          outline: 0;
        }
      }

      button {
        width: 20%;
        float: right;
        height: 100%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #777;
        background-color: #777;
        color: #fff;
        font-style: normal;
        font-style: normal;

        &:hover {
          border: 1px solid $brandColor;
          background-color: #fff;
          color: $brandColor;
        }

        &:focus {
          outline: 0;
          border: 1px solid $brandColor;
        }
      }
    }
  }
  
}

.card-columns {
  overflow: hidden;
}


#addResourceModal {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: #EEE;
  left: 50%;
  top: 50%;
  padding: 20px;
  z-index: 3;
  border-radius: 5px;

  h2 {
    margin-bottom: 20px;
  }

  input {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;

    &:focus {
      outline: 0;
      border: 1px solid #777;
    }
  }

  input, select {
    float: right;
    width: 180px;
  }

  #addResource {
    width: 180px;
    display: block;
    margin: 0 auto;
    border: 0;
    border: 1px solid #777;
    background: #777;
    color: #fff;
    border-radius: 5px;
    padding: 5px;

    &:hover {
      border: 1px solid $brandColor;
      background-color: #fff;
      color: $brandColor;
    }
  }
}

#registerModal {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: #EEE;
  left: 50%;
  top: 50%;
  padding: 20px;
  z-index: 3;
  border-radius: 5px;

  h2 {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  input {
    margin-left: 20px;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;

    &:focus {
      outline: 0;
      border: 1px solid #777;
    }
  }

  input, select {
    float: right;
    width: 180px;
  }

  #register {
    width: 180px;
    display: block;
    margin: 30px auto 0;
    border: 0;
    border: 1px solid #777;
    background: #777;
    color: #fff;
    border-radius: 5px;
    padding: 5px;

    &:hover {
      border: 1px solid $brandColor;
      background-color: #fff;
      color: $brandColor;
    }
  }
}

#overlay{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.fixed {
  overflow: hidden;
}





// .top {
//   width:90%;
//   border: 2px dashed red;
//   margin-right: 5%;
//   margin-left: 5%;
//   margin-bottom: 2em; 
//   display: flex;
//   flex-direction: column;


  
// }
// .bottom {
//   width: 90%;
//   border: 2px dashed sandybrown;
//   margin-right: 5%;
//   margin-left: 5%; 
//   display: flex;
//   flex-direction: column;

// }
// .my_articles_container {             
// flex-wrap: wrap;
//   display: flex;
//   flex-direction: row;
//   margin-right: 1em;
//   margin-left: 1em;
//   margin-top: 1em;
//   justify-content: space-evenly;
// }
// .liked_articles_container {
//  flex-wrap: wrap;
//   display: flex;
//   flex-direction: row;
//   margin-right: 1em;
//   margin-left: 1em;
//   margin-top: 1em;
//   width: 20em;
//   height: 20em;
//   justify-content: space-evenly;

// }
// h3 {
//   margin: 1em 1em;
//   font-family: fantasy;
//   font-size: 1.5em;
// }
// .card-img {
//   width: 300px;
//   height: 300px;
// }
