
@import 'includes/_mixins';
@import 'includes/_variables';

body {
  background-color: #EEE;
  padding-top: 50px;

  h1 {
    color: $brandColor;
  }

  .header {
    position: relative;
    width: calc(100% - 5%);
    padding: 10px 20px;
    border: 1px solid $brandColor;
    border-radius: 5px;
    margin: 0 auto;

    @include bp('tablet-landscape') {
      text-align: center;
    }

    &__right {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);

      @include bp('tablet-landscape') {
        position: relative;
        text-align: center;
        width: 100%;
        right: auto;
        margin-top: 90px;
        
      }

      &.user {
        @include bp('tablet-landscape') {
          margin-top: 50px;
        }

        form {
          @include bp('tablet-landscape') {
            width: auto;
          }
        }

      }

      &.noUser {
        @include bp('tablet-landscape') {
          margin-bottom: -30px;
        }
      }

      a {
        margin-right: 20px;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }

        &.register {
          border: 0;
          background: #777;
          color: #fff;
          padding: 8px 10px;
          border: 1px solid #777;
          margin-left: -4px;
          border-radius: 5px;
          margin-left: 20px;
          margin-right: 0;

          @include bp('tablet-landscape') {
            display: none;
          }

          &:hover {
            border: 1px solid $brandColor;
            background: #fff;
            outline: none;
            color: $brandColor;
            text-decoration: none;
          }
        }
      }

      form {
        display: inline-block;

        @include bp('tablet-landscape'){
          width: 300px;
        }

        p {
          display: inline-block;
          margin-bottom: 0;
          margin-left: 10px;

          @include bp('tablet-landscape') {
            display: block;
            width: 100%;
            margin-bottom: 20px;
            overflow: hidden;
            margin-left: 0;
          }

          label {
            @include bp('tablet-landscape') {
              float: left;
            }

          }

          input {
            @include bp('tablet-landscape') {
              float: right;
            }

          }
        }

        input {
          border: 1px solid #fff;
          padding: 5px 10px;
          margin-left: 5px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;

          &:hover,
          &:focus {
            border: 1px solid #999;
            outline: none;
          }
        }

        button {
          border: 0;
          background: #777;
          color: #fff;
          padding: 5px 10px;
          border: 1px solid #777;
          margin-left: -4px;

          &:hover {
            border: 1px solid $brandColor;
            background: #fff;
            outline: none;
            color: $brandColor;
          }

          &.login {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            @include bp('tablet-landscape'){
              border-radius: 5px;
              width: 100%;
            }
          }

          &.logout {
            border-radius: 5px;
          }
        }
      }
    }

    a {
      color: $brandColor;
      text-decoration: none;
    }

    .logo {
      font-weight: 500;
      font-size: 30px;
      border-bottom: 2px solid transparent;

      @include bp('tablet-landscape') {
        width: auto;
        display: inline-block;
        margin: 0 auto;
        font-size: 50px;
        line-height: 50px;
      }

      // @include bp('phone-large') {
        
      // }

      &:hover {
        border-bottom: 2px solid $brandColor;
      }
    }
  }
  
  .searchContainer {
    width: 50%;
    margin: 40px auto;
    display: flex;

    @include bp('tablet-landscape') {
        width: 80%;
    }

    form {
      width: 100%;

      input {
        width: 80%;
        padding: 10px 20px;
        float: left;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 0;
        border: 1px solid #fff;

        @include bp('tablet-landscape') {
          width: 70%;
        }

        &:focus {
          border: 1px solid #999;
          outline: 0;
        }
      }

      button {
        width: 20%;
        float: right;
        height: 100%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #777;
        background-color: #777;
        color: #fff;
        font-style: normal;
        font-style: normal;

        @include bp('tablet-landscape') {
          width: 30%;
        }

        &:hover {
          border: 1px solid $brandColor;
          background-color: #fff;
          color: $brandColor;
        }

        &:focus {
          outline: 0;
          border: 1px solid $brandColor;
        }
      }
    }
  }
}

.addResource {
  @include bp('tablet-landscape') {
    width: 80%;
    display: inline-block;
  }

  .logo {
    font-weight: 500;
  }
}


.newWeSource {
  text-align: center;
  margin-top: 40px;

  @include bp('tablet-landscape') {

  }

  a{
    background-color: #69b269;
    padding: 15px 30px;
    color: $brandColor;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #69b269;

    &:hover {
      text-decoration: none;
      background-color: #fff;
      border: 1px solid $brandColor;
    }
  }
}

.card-columns {
  overflow: hidden;

  a {
    display: inline-block;
  }
}

.card {
  color: $brandColor;
  border-radius: 5px;

  &__img {
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__title {
    width: 80%;
    margin: 0 auto 15px;
    font-weight: 700;
  }

  &__description {
    width: 80%;
    margin: 0 auto 15px;
  }

  &__cat {
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    padding: 2px 0 4px;
    color: #111;

    &.accessibility { background-color: #fed345; }
    &.animation { background-color: #e64600; color: #fff; }
    &.css { background-color: #c50000; color: #fff; }
    &.html { background-color: #501ab7; color: #fff; }
    &.inspiration { background-color: #e64c7f; color: #fff; }
    &.javascript { background-color: #3b34bf; color: #fff; }
    &.plugins { background-color: #657efb; }
    &.ui { background-color: #208934; }
    &.web { background-color: #435c00; color: #fff; }
  }
}

.card {
  color: $brandColor;
  border-radius: 5px;

  &__img {
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__title {
    width: 80%;
    margin: 0 auto 15px;
    font-weight: 700;
  }

  &__description {
    width: 80%;
    margin: 0 auto 15px;
  }

  &__cat {
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    padding: 2px 0 4px;
    color: #111;

    &.accessibility { background-color: #fed345; }
    &.animation { background-color: #e64600; color: #fff; }
    &.css { background-color: #c50000; color: #fff; }
    &.html { background-color: #501ab7; color: #fff; }
    &.inspiration { background-color: #e64c7f; color: #fff; }
    &.javascript { background-color: #3b34bf; color: #fff; }
    &.plugins { background-color: #657efb; }
    &.ui { background-color: #208934; }
    &.web { background-color: #435c00; color: #fff; }
  }
}

.login_msg {
  display: none;
} 

.register_msg {
  display: none;
} 


#addResourceModal {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: #EEE;
  left: 50%;
  top: 50%;
  padding: 20px;
  z-index: 3;
  border-radius: 5px;

  h2 {
    margin-bottom: 20px;
  }

  p {
    overflow: hidden;
  }

  input, textarea {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: 20px;

    &:focus {
      outline: 0;
      border: 1px solid #777;
    }
  }

  input,textarea, select {
    float: right;
    width: 180px;
  }

  #addResource {
    width: 180px;
    display: block;
    margin: 0 auto;
    border: 0;
    border: 1px solid #777;
    background: #777;
    color: #fff;
    border-radius: 5px;
    padding: 5px;

    &:hover {
      border: 1px solid $brandColor;
      background-color: #fff;
      color: $brandColor;
    }
  }
}

#registerModal {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: #EEE;
  left: 50%;
  top: 50%;
  padding: 20px;
  z-index: 3;
  border-radius: 5px;

  h2 {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  input {
    margin-left: 20px;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;

    &:focus {
      outline: 0;
      border: 1px solid #777;
    }
  }

  input, select {
    float: right;
    width: 180px;
  }

  #register {
    width: 180px;
    display: block;
    margin: 30px auto 0;
    border: 0;
    border: 1px solid #777;
    background: #777;
    color: #fff;
    border-radius: 5px;
    padding: 5px;

    &:hover {
      border: 1px solid $brandColor;
      background-color: #fff;
      color: $brandColor;
    }
  }
}

#loginModal {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: #EEE;
  left: 50%;
  top: 50%;
  padding: 20px;
  z-index: 3;
  border-radius: 5px;

  h2 {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  input {
    margin-left: 20px;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;

    &:focus {
      outline: 0;
      border: 1px solid #777;
    }
  }

  input {
    float: right;
    width: 180px;
  }

  #login {
    width: 180px;
    display: block;
    margin: 30px auto 0;
    border: 0;
    border: 1px solid #777;
    background: #777;
    color: #fff;
    border-radius: 5px;
    padding: 5px;

    &:hover {
      border: 1px solid $brandColor;
      background-color: #fff;
      color: $brandColor;
    }
  }
}

.fa-times {
  float: right;
  cursor: pointer;
}

#overlay{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.fixed {
  overflow: hidden;
}




.res_description {

  .left {
    width: 55%;
    border: 1px solid $brandColor;
    border-radius: 5px;
    float: left;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.right {
    width: 15%;
    border: 1px solid $brandColor;
    border-radius: 5px;
    float: right;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

